.main-dashboard{    
    margin-left: 1em;
    padding: 10px;
    margin-top: 1em;
    padding-right: 30px;
    
}

.container{    
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(1em, 15%);    
    h2, p {margin-top: 1em;}
}

/* ---------Cards */
.nichos{
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;            
    justify-content: center;   
}

.card{
    /* flex: 1 1 230px; */    
    margin: 10px;
    height: auto;   
    background-color: var(--line-clr);
    padding: 0.5em;
    border-radius: .5em;    
    align-content: center;
    display: flex;
    flex-direction: column;    
}

.informacoes-gerais{
    background-color: var(--line-clr);
    padding: 1em;
    border-radius: 0.5em;
}

.nichos .card .metricas-prioridade{
    margin: 5px;
    padding: 0.5em;
    border: 1px solid #fff;
    border-radius: 10px;
}

@media(max-width: 768px){
    .main-dashboard{
    margin-left: 4em;
    }
    .container{
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(1em, 5%);
    h2, p {margin-top: 1em;}
}
.card{
    flex: 1 230px;
    height: auto;   
    background-color: var(--line-clr);
    padding: 0.5em;
    border-radius: .5em;    
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}

}

