*{
    box-sizing: border-box;
}
.tela-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--base-clr);
}

.tela-login form {   
  background-color: var(--hover-clr);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
  max-width: 400px; /* adiciona uma largura máxima */
  width: 100%; /* garante que o formulário ocupe toda a largura disponível até o máximo */

}

.tela-login h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-clr);
}

.campo {
  margin-bottom: 15px;
}

.campo label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-text-clr);
}

.campo input {
  width: 100%;  
  height: 40px;
  padding: 10px;
  border: 1px solid var(--line-clr);
  border-radius: 5px;
  background-color: var(--hover-clr);
  color: var(--text-clr);
}

button[type="submit"] {
  width: 100%;    
  height: 40px;
  background-color: var(--accent-clr);
  color: var(--text-clr);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4549c4; /* uma cor ligeiramente mais escura que --accent-clr */
}

.botao-enviar {
  text-align: center;
  margin-top: 20px;  
}

/* -------Erro--------- */

.login-funcoes{
  margin: 10px;
  color: red;
}

.login-funcoes .conteudo-erro{
  display: flex;
}

.imagem-loading{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}


.button-cadastro{
  width: 100%;
  margin-top: 15px;
  padding: 5px;
  border-radius: 10px;  
  background-color: transparent;
  border: 1px solid var(--secondary-text-clr);
  color: var(--text-clr);
  cursor: pointer;  
}

.button-cadastro:hover {
  border-color: #666; /* ajuste a cor da borda no hover aqui */
  background-color: transparent; /* mantém o fundo transparente */
}

.login-topo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-topo img{  
  width: 30%;
}